node_modules
pnpm-lock.yaml
.next
.vercel
out

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

logs
*.log
npm-debug.log*
.pnpm-debug.log*