.bulk {
  position: relative;
  max-width: 800px;
}

.content {
  margin-right: 240px;
}

.header {
  display: inline-block;

  font: var(--type-lg);
  letter-spacing: var(--ls-lg);
  background-color: var(--color-highlight-green);
  line-height: 36px;
  margin-bottom: 12px;
}

.header::selection {
  color: var(--color-highlight-green);
  background-color: var(--color-text-primary);
}

.text {
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  color: var(--color-text-primary);
  margin-bottom: 48px;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.number {
  text-align: center;
  padding: 0 0px;
}

.numberValue {
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
}

.numberDesc {
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 300;
  color: var(--color-text-);

  white-space: pre-line;
  line-height: 16px;
}

.logo {
  width: 96px;
  height: 96px;
  background-color: var(--color-text-primary);
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-background);

  opacity: 0.05;
  rotate: 5deg;

  position: absolute;
  top: 0;
  right: 12px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }

  .logo {
    display: none;
  }

  .numbers {
    align-items: baseline;
    justify-content: space-around;
    gap: 0;
  }
}