.bulk {
  max-width: 800px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 56px;
}

.content>:nth-child(2) {
  flex: 1 1 50%;
}

.logo {
  width: 96px;
  height: 96px;

  color: var(--color-background);
  box-shadow: var(--shadow-reg);
  background-color: var(--color-text-primary);
  border-radius: 24px;
  rotate: -4deg;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: inline-block;

  font: var(--type-lg);
  letter-spacing: var(--ls-lg);
  background-color: var(--color-highlight-green);
  line-height: 36px;
  margin-bottom: 12px;
}

.header::selection {
  color: var(--color-highlight-green);
  background-color: var(--color-text-primary);
}

.text {
  width: 66.6%;
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  color: var(--color-text-primary);
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.number {
  text-align: center;
  padding: 0 8px;
}

.numberValue {
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
}

.numberDesc {
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 300;
  color: var(--color-text-secondary);

  white-space: pre-line;
  line-height: 16px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .numbers {
    align-items: baseline;
    justify-content: space-around;
    gap: 0;
  }
}

@media (max-width: 540px) {
  .logo {
    display: none;
  }
}