.container {
  max-width: 520px;
  padding: 56px 24px 56px 24px;
  margin: 0 auto;
}

.timer {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}

.timer > svg {
  width: 100%;
  transform: rotate(-90deg);
}

.seconds {
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
  font-weight: 900;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.second {
  text-align: center;
  width: 100%;
}

.digit {
  width: 0.6em;
  display: inline-block;
  text-align: center;
}

.digit:first-of-type {
  text-align: center;
}

.title {
  font: var(--type-lg);
  letter-spacing: var(--ls-lg);
  text-align: center;
}

.description {
  text-align: center;
  color: var(--color-slate-2);
  margin-bottom: 54px;
}

.note {
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  color: var(--color-slate-4);
  max-width: 340px;
  text-align: center;
  margin: 0 auto;
}
