.container {
  max-width: 520px;
  padding: 56px 24px 56px 24px;
  margin: 0 auto;
}

.countdown {
  margin-bottom: 40px;
}

.title {
  font: var(--type-lg);
  letter-spacing: var(--ls-lg);
  text-align: center;
}

.description {
  text-align: center;
  color: var(--color-slate-2);
  margin-bottom: 54px;
}

.note {
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  color: var(--color-slate-4);
  max-width: 340px;
  text-align: center;
  margin: 0 auto;
}

.registerButton {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
