.main {
  --padding: 16px;
  position: relative;
  min-height: 80svh;

  display: grid;
}

@media (max-width: 768px) {
  .main {
    padding: 10px;
  }
}

.spNavigation {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  max-width: calc(2 * var(--padding) + var(--container-width));
  justify-self: center;
  width: 100%;

  gap: 12px;
  padding: var(--padding);
}

.card {
  --avatar-size: 150px;
  --avatar-ratio: 0.6;
  --space: 24px;
  --sm-space: calc(var(--space) / 2);

  width: 450px;

  border: 1px solid var(--color-slate-6);
  border-radius: var(--radii-md);

  background-color: var(--color-background);
  color: var(--text-primary);

  padding: calc(var(--avatar-size) * (1 - var(--avatar-ratio)) + var(--sm-space)) var(--space)
    var(--space);

  position: relative;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--sm-space);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.avatarSlot {
  position: absolute;
  inset: 0 50%;
  transform: translate(-50%, calc(var(--avatar-ratio) * -100%));

  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;

  background-image: linear-gradient(180deg, var(--color-green), var(--color-green-light));
}

.avatarSlot img,
.avatarSlot::after {
  border-radius: inherit;
}

.avatarSlot img {
  display: block;
  width: var(--avatar-size);
  height: var(--avatar-size);
  user-select: none;
}

.avatarSlot::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.nameSlot {
  display: flex;
  flex-direction: column;

  gap: calc(var(--space) / 4);
  padding-bottom: var(--sm-space);
}

.name {
  align-self: center;
  font: var(--type-lg);
  line-height: 1;
}

.address {
  align-self: center;
  font-family: var(--font-mono);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.description {
  color: var(--color-slate-2);
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
}

.links {
  display: flex;
  flex-flow: row wrap;
  gap: var(--sm-space);
}

.link {
  all: unset;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: background var(--ease-100);

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  appearance: none;

  background: var(--color-slate-3);
  color: var(--color-slate-8);

  border-radius: var(--radii-sm);
  padding: 0px 16px;
  height: 40px;

  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  font-weight: 400;

  width: calc(50% - var(--sm-space) / 2);
}

@media (max-width: 450px) {
  .link {
    width: 100%;
  }
}

.link span {
  display: inline-block;
  transform: rotate(-45deg);
}

.bgDebug {
  position: absolute;
  inset: 5px 5px auto auto;

  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border-radius: 8px;
  border: 1px solid var(--color-slate-6);
  color: var(--color-slate-2);

  padding: 10px;

  gap: 10px;
}
