.container {
  width: fit-content;
  height: fit-content;
  position: relative;
}

/* 
 * Set text color same as button's background color in ui.module.css. 
 * A hack to keep button width fixed while loader is spinning.
 */
.buttonLoading {
  color: var(--text-primary);
}

.buttonLoading:hover {
  cursor: default;
  background: var(--text-primary);
  color: var(--text-primary);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}