.modal {
  width: 460px;
  max-height: min(80vh, 720px);

  background: var(--color-background);
  border: 0;
  border-radius: var(--radii-lg);
  box-shadow: var(--shadow-lg);

  display: flex;
  flex-direction: column;
  position: relative
}

.body {
  padding: 32px 24px;
  flex-grow: 1;
  overflow: auto;
}

.title {
  color: var(--color-text-primary);
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  font-weight: 500;
  margin-bottom: 16px;
}

.text {
  margin-bottom: 32px;
}

.text>b {
  font-weight: 500;
  text-decoration: underline;
}

.addressLabel {
  color: var(--color-text-primary);
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  font-weight: 400;
}

.hint {
  color: var(--color-text-hint);
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  margin-top: 8px;
  margin-bottom: 24px;
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 12px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: var(--color-slate-8);
  border-top: 1px solid var(--color-slate-5);
  border-bottom-left-radius: var(--radii-lg);
  border-bottom-right-radius: var(--radii-lg);
}

.buttonSend {
  width: 120px;
}

.success {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radii-lg);
}