.searchBar {
  position: relative;
}

.action {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 240px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .action {
    position: static;
    display: block;
    margin-top: 16px;
  }
}

.input {
  width: 100%;
  color: var(--color-slate-0);
  background-color: var(--color-slate-8);
  border: 1px solid var(--color-slate-5);
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
  padding: 24px 16px;
  border-radius: var(--radii-lg);
}

.input::placeholder {
  color: var(--color-slate-5);
}

.input:focus {
  box-shadow: none;
  border-color: var(--color-slate-3);
  box-shadow: inset 0px 0px 4px -2px var(--color-slate-5);
}
