.searchBar {
  position: relative;
  max-width: 640px;
}

.action {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none; /* pass through clicks to the input */
}

.inputWithSuffix {
  position: relative;
}

/* input and its overlay should have the same size and typographic styles */
.suffix,
.input {
  font: var(--type-lg);
  letter-spacing: var(--ls-lg);
  padding: 14px 16px;
  border: 1.5px solid transparent;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .suffix,
  .input {
    font: var(--type-md);
    letter-spacing: var(--ls-md);
    font-weight: 400;
    padding: 16px 12px;
    padding-right: 110px;
    text-overflow: ellipsis;
  }
}

.suffix {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  pointer-events: none;
  border-color: transparent;
  color: transparent;
  overflow: hidden;
  white-space: pre;

  opacity: 0;
}

.suffixVisible {
  opacity: 1;
}

/* the actual suffix */
.suffix > span {
  color: var(--color-slate-5);
}

.input {
  color: var(--color-slate-0);
  background-color: var(--color-slate-8);
  border-color: var(--color-slate-3);

  border-radius: var(--radii-lg);
  width: 100%;
  box-shadow: var(--shadow-lg);

  transition: border-color var(--ease-250), box-shadow var(--ease-250);
}

.input::placeholder {
  color: var(--color-slate-5);
}

.input:focus {
  box-shadow: none;
  border-color: var(--color-slate-1);
  box-shadow: var(--shadow-md);
}

.badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .badges {
    max-width: 640px;
  }
}

.availability {
  will-change: transform;
  transform: translateY(-16px);
  opacity: 0;
  transition: none;
}

.availabilityVisible {
  opacity: 1;
  transform: none;

  transition: opacity var(--ease-200) 0.05s, transform var(--ease-250);
}

.badges > .startBulk {
  height: 32px;
  padding: 0 4px;
  border-radius: var(--radii-md);
}

button.startBulk > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badges > .bulkRegistration {
  height: 32px;
  border-radius: var(--radii-md);
  margin: 0 10px;
  min-width: 160px;
}

@media (max-width: 768px) {
  .badges > .bulkRegistration {
    margin: 0;
  }
}

.bulkRegistrationContent {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
}

.space {
  flex-grow: 1;
}

.namesCount {
  display: inline-block;
  font-size: 12.47px;
  font-family: var(--font-mono);
  min-width: 18px;
  font-weight: 800;

  padding: 0 4px;
  border-radius: 99px;

  background-color: var(--color-slate-8);
  color: var(--color-slate-1);
  flex-shrink: 0px;
}

.badges > .bulkRegistration:disabled .namesCount {
  color: var(--color-slate-5);
}

.listingContainer {
  min-height: 72px;
  margin-top: 12px;
}
