.searchBar {
  position: relative;
  max-width: 640px;
}

.action {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 240px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .action {
    position: static;
    display: block;
    margin-top: 16px;
  }
}

.inputWithSuffix {
  position: relative;
}

/* input and its overlay should have the same size and typographic styles */
.suffix,
.input {
  font: var(--type-lg);
  letter-spacing: var(--ls-lg);
  padding: 12px 16px;
}

.suffix {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  pointer-events: none;
  border: 1px solid transparent;
  color: transparent;

  opacity: 0;
}

.suffixVisible {
  opacity: 1;
}

/* the actual suffix */
.suffix > span {
  color: var(--color-slate-5);
}

.input {
  color: var(--color-slate-0);
  background-color: var(--color-slate-8);
  border: 1px solid var(--color-slate-5);

  border-radius: var(--radii-lg);
  width: 100%;
}

.input::placeholder {
  color: var(--color-slate-5);
}

.input:focus {
  box-shadow: none;
  border-color: var(--color-slate-3);
  box-shadow: inset 0px 0px 4px -2px var(--color-slate-5);
}
