.container {
  margin-right: 16px;
  transition: opacity 0.3s ease;
}

.containerHidden {
  opacity: 0;
}

.button {
  background: var(--color-slate-1);
  border-radius: var(--radii-lg);
  box-shadow: none;
  border: none;
  color: var(--color-slate-8);
  font: var(--type-regular);
  padding: 12px 32px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    margin-right: 0;
  }

  .button {
    display: block;
    width: 100%;
  }
}

.buttonStatus {
  color: var(--color-slate-5);
  font: var(--type-sm);
  font-weight: 400;
}

/*
 * Loading spinner 
 */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  --size: 10px;
  animation: 0.5s linear infinite spin;
  display: none;
  margin-right: 32px;
}

.loaderVisible {
  display: block;
}

.loader::after {
  content: '';
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background: var(--color-slate-1);
  transform: translateY(-18px);
}
