.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px;
  height: 100%;
}

.button {
  pointer-events: auto; /* allow pointer events only for the button here */
  background: var(--color-slate-1);
  border-radius: var(--radii-md);
  box-shadow: none;
  border: none;
  padding: 12px;
  height: 100%;
  cursor: pointer;

  font: var(--type-regular);
  color: var(--color-slate-8);
  font-weight: 500;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  user-select: none;
  width: 160px; /* fixed width to align with other elements */
}

.button[disabled] {
  background: var(--color-slate-5);
  pointer-events: none;
}

.button:hover {
  background-color: var(--color-slate-2);
}

.button:active {
  background-color: var(--color-slate-3);
}

.button:focus-visible {
  outline: var(--color-highlight-green) auto 1px;
}

.buttonStatus {
  color: var(--color-slate-5);
  font: var(--type-sm);
  font-weight: 400;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
}

.label > svg {
  width: 12px;
  height: 12px;
}

.loader {
  transition: opacity 0.2s ease;
  color: var(--color-slate-2);
  opacity: 0;

  width: 34px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}

.loaderActive {
  opacity: 1;
}

@media (max-width: 768px) {
  .button {
    font: var(--type-regular);
  }

  .loader {
    margin-right: 6px;
  }
}
