.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0 16px;
  padding: 0 24px;
}

.button {
  background: var(--color-slate-1);
  border-radius: var(--radii-lg);
  box-shadow: none;
  border: none;
  padding: 12px 32px;
  cursor: pointer;

  font-weight: 600;
  font: var(--type-regular);
  color: var(--color-slate-8);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.button[disabled] {
  opacity: 0.25;
  pointer-events: none;
}

@media (max-width: 768px) {
  .container {
    margin-right: 0;
  }

  .button {
    display: block;
    width: 100%;
  }
}

.buttonStatus {
  color: var(--color-slate-5);
  font: var(--type-sm);
  font-weight: 400;
}

/*
 * Loading spinner 
 */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  background: var(--color-slate-6);
  transition: opacity 0.2s ease;
  opacity: 0;

  width: 44px;
  height: 44px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderVisible {
  opacity: 1;
}

.loaderSpinner {
  --size: 6px;
  animation: 0.35s linear infinite spin;
}

.loaderSpinner::after {
  content: '';
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background: var(--color-slate-1);
  transform: translateY(-14px);
  opacity: 0;
}

.loader.loaderActive .loaderSpinner::after {
  opacity: 1;
}
