.container {
  position: relative;
}

.title {
  font: var(--type-regular);
  color: var(--color-slate-4);
  margin-bottom: 16px;
}

.suggestions {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  overflow: auto;
  padding-bottom: 8px;
  padding-right: 32px;
  min-height: 52px;
}

.suggestion:after {
  content: '';
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.6));
  pointer-events: none;
}

.suggestion {
  padding: 8px 16px;
  border: 1px solid var(--color-slate-5);
  background-color: var(--color-slate-7);
  border-radius: var(--radii-sm);
  font: var(--type-regular);
  user-select: none;
  cursor: pointer;
  transition: background var(--ease-250);
  white-space: nowrap;
}

.suggestion:hover {
  border: 1px solid var(--color-slate-4);
  background-color: var(--color-slate-6);
}

.suggestion > span {
  color: var(--color-slate-4);
  font: var(--type-sm);
  margin-left: 8px;
}
