.container {
  position: relative;
}

.dropdown {
  margin-top: 4px;
}

.dropdownHidden {
  display: none;
}

.unresolvedEth {
  margin-top: 24px;
}

.saveButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 12px 0 0;
}
