.container {
  position: relative;
}

.dropdown {
  margin-top: 4px;
}

.dropdownHidden {
  display: none;
}

.unresolvedEth {
  margin-top: 16px;
}

.saveButton {
  width: 120px;
  display: block;
  margin: 12px 0 0 auto;
}