.container {
  width: 432px;
  padding: 48px 0 48px 40px;

  position: sticky;
  top: calc(var(--nav-height));
  perspective: 1000px;
}

.title {
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  font-weight: 400;
  margin-bottom: 20px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}

.line + .line {
  border-top: 1px solid var(--color-slate-5);
}

.line.lineTotal {
  border-color: var(--color-slate-3);
  font-weight: 500;
}

.fees {
  color: var(--color-text-secondary);
}

.summary {
  margin-bottom: 48px;
}

.registerButton {
  width: 100%;
}
