.container {
  width: 100%;
}

.title {
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  font-weight: 400;
  margin-bottom: 20px;
}

.divider {
  border-bottom: 1.25px solid var(--color-slate-5);
  margin: 4px 0;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
}

.total {
  font-weight: 500;
}