.card {
  padding: 24px;
  margin-top: 16px;

  box-shadow: var(--shadow-sm);
  border-radius: var(--radii-lg);
  border: 1px solid var(--color-slate-6);
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.avatarWrapper {
  align-self: flex-start;
  border-radius: var(--radii-round);
  height: 56px;
  width: 56px;
  background-color: var(--color-slate-6);
}

.avatar {
  border-radius: var(--radii-round);
  height: 56px;
  width: 56px;
}

.profileDomain {
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  font-weight: 500;
}

.profileLabels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 4px;
}

.profileLabel {
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  color: var(--color-text-secondary);
  background-color: var(--color-slate-7);
  border-radius: var(--radii-lg);
  border: 1px solid var(--color-slate-6);
  padding: 2px 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.saveButton {
  width: 160px;
  margin: 8px 0 0 auto;
}