.footer {
  background-color: var(--color-slate-1);
  padding: 0 24px;
  position: sticky;
  top: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
}

.appName {
  display: flex;
  align-items: center;
  color: var(--color-slate-6);
  font-weight: 600;
  white-space: nowrap;
  margin-right: 8px;
  gap: 6px;
}

.logo {
  display: inline-block;
  display: inline-flex;
  align-items: center;
}

.links {
  color: var(--color-slate-5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links > a {
  color: var(--color-slate-8);
  margin-left: 2px;
  font-weight: 500;
}
