.select {
  border-radius: var(--radii-sm);
  border: 1px solid var(--color-slate-5);
  padding: 8px 12px;
  box-shadow: var(--shadow-sm);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.select:hover {
  cursor: pointer;
  background-color: var(--color-slate-7);
}

.text {
  color: var(--color-slate-2);
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  font-weight: 400;
  color: var(--color-text-primary);
  flex-grow: 1;
  padding-left: 8px;
}

.textHint {
  color: var(--color-text-hint);
}

.prefixIcon {
  color: var(--color-background);
}

.suffixIcon {
  color: var(--color-slate-4);
  width: 20px;
  height: 20px;
}