.dropdown {
  /* display: block; */
  position: absolute;
  width: var(--profile-width);
  max-height: 320px;
  overflow: scroll;

  background-color: var(--color-background);
  border-radius: var(--radii-sm) var(--radii-sm);
  border: 1px solid var(--color-slate-5);
  box-shadow: var(--shadow-lg);

  z-index: 1;
}

.dropdown>div:not(:last-child) {
  border-bottom: 1px solid var(--color-slate-6);
}