.searchPage {
  min-height: calc(100vh - var(--nav-height));
}

.container {
  --padding: 16px;
  max-width: calc(2 * var(--padding) + var(--container-width));
  padding: 0 var(--padding) 0 var(--padding);
  margin: 0 auto;
}

.heroLayout {
  composes: container;

  display: flex;
  flex-flow: column nowrap;
}

.hero {
  max-width: 640px;
  padding: 96px 0 0 0;
  flex: 1 1;
}

.heroSection {
  background: linear-gradient(to bottom, #ffffff00 70%, var(--color-slate-f) 100%),
    top left / 32px 32px repeat url('../styles/assets/grid-pattern.png');
  background-position-y: -1px;

  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-slate-6);
}

.heroTitle {
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
  margin-bottom: 16px;
  color: var(--color-slate-0);
}

.heroSubtitle {
  font: var(--type-md);
  letter-spacing: var(--type-md);
}

.searchBar {
  margin-top: 48px;
  margin-bottom: 80px;
}

.pricingSection {
  padding: 96px 0;
}

.versionLabel {
  display: inline-block;
  color: var(--color-slate-3);
  border-radius: var(--radii-sm);
  border: 1px solid var(--color-slate-5);
  background: var(--color-slate-8);

  font: var(--type-sm);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  padding: 6px 8px;
  margin-bottom: 16px;
}

.explainerSection {
  padding: 96px 0;
  border-bottom: 1px solid var(--color-slate-6);
}

.explainerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
}

.explainerCard {
  --gradient: linear-gradient(to bottom, #ffffff00 28%, var(--color-slate-7) 45%);

  all: unset;
  border-radius: var(--radii-md);
  padding: 196px 24px 40px 24px;
  background-color: var(--color-slate-7);
}

.explainerCard:nth-of-type(1) {
  background: var(--gradient),
    top left / contain no-repeat url('../styles/assets/explainer-domains.png'), var(--color-slate-7);
}

.explainerCard:nth-of-type(2) {
  background: var(--gradient),
    top left / contain no-repeat url('../styles/assets/explainer-wallet.png'), var(--color-slate-7);
}

.explainerCard:nth-of-type(3) {
  background: var(--gradient),
    top left / contain no-repeat url('../styles/assets/explainer-profile.png'), var(--color-slate-7);
}

.explainerHeader {
  font-weight: 500;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .hero {
    max-width: unset;
  }

  .explainerCard {
    --gradient: linear-gradient(to bottom, #ffffff00 40%, var(--color-slate-7) 50%);
    padding-top: 240px;
  }
}
