.searchPage {
  min-height: calc(100vh - var(--nav-height));
}

.container {
  --padding: 16px;
  max-width: calc(2 * var(--padding) + var(--container-width));
  padding: 0 var(--padding) 0 var(--padding);
  margin: 0 auto;
}

.heroLayout {
  composes: container;

  display: flex;
  flex-flow: column nowrap;

  min-height: calc(80vh - var(--nav-height));
}

.hero {
  max-width: calc(var(--container-width) / 2);
  padding: 96px 0 0 0;
  flex: 1 1;
}

.heroSection {
  background: linear-gradient(to bottom, #ffffff00 70%, var(--color-slate-f) 100%),
    top left / 32px 32px repeat url('../styles/assets/grid-pattern.png');

  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-slate-5);
  margin-bottom: 96px;
}

.heroTitle {
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
  margin-bottom: 16px;
  color: var(--color-slate-0);
}

.heroSubtitle {
  font: var(--type-md);
  letter-spacing: var(--type-md);
}

.searchBar {
  margin-top: 48px;
  margin-bottom: 64px;
}

.pricingSection {
  margin-bottom: 96px;
}

.versionLabel {
  display: inline-block;
  background: var(--color-highlight-green);
  color: var(--color-gray-1);
  border-radius: var(--radii-sm);

  font: var(--type-sm);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  padding: 6px 8px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .hero {
    max-width: unset;
  }
}
