.main {
  width: 100%;
  margin: 40px 0;
  padding: 0 0;
  display: flex;
  flex-direction: column;
}

/* TODO: make generalized modal wrapper component */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2001;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #000;
  opacity: 0.25;
  z-index: 2000;

  pointer-events: all;
}

.loading {
  width: var(--profile-width);
}

.loader {
  display: block;
  margin: 120px auto;
}

.title {
  color: var(--color-slate-2);
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
  margin-bottom: 40px;
}

.searchContainer {
  width: 100%;
  border: 1px solid var(--color-slate-6);
  border-radius: var(--radii-sm);
  margin-bottom: 24px;
  transition: border-color .1s ease;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.searchContainer:focus-within {
  border: 1px solid var(--color-slate-2);
}

.searchIcon {
  width: 24px;
  height: 24px;
  color: var(--color-slate-4);
  margin-left: 12px;
}

.searchInput {
  width: 100%;
  height: 40px;
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  color: var(--color-text-primary);
  background: none;
  padding: 0 12px;
}

.searchInput::placeholder {
  color: var(--color-text-secondary);
}

.emptySearch {
  padding: 180px 0;
  background-color: var(--color-slate-7);
  border-radius: var(--radii-sm);
  border: 1px solid var(--color-slate-6);
  text-align: center;
}

.tableWrapper {
  position: relative;
}

.listActions {
  position: absolute;
  top: 0;
  right: 0;

  height: 52px;
  padding: 0 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.table {
  width: 100%;

  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
}

.row:hover {
  background-color: var(--color-slate-7);
}

.cell {
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 12px 0;
  text-align: left;
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-slate-6);
}

.headCell {
  color: var(--color-text-secondary);
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);

  border-bottom: 1px solid var(--color-slate-5);
  border-top: 1px solid var(--color-slate-5);
  background-color: var(--color-slate-7);
}

.headCell:first-child {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid var(--color-slate-5);
}

.headCell:last-child {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid var(--color-slate-5);
}

.selectCell {
  width: 52px;
  text-align: center;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelsCell {
  width: 260px;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  flex-wrap: wrap;
}

.label {
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  color: var(--color-text-secondary);
  background-color: var(--color-slate-7);
  border-radius: var(--radii-lg);
  border: 1px solid var(--color-slate-6);
  padding: 2px 12px;
  user-select: none;
}

.expirationCell {
  width: 160px;
}

.menuCell {
  width: 40px;
  padding: 0 10px;
}

.menuContainer {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.domain {
  text-decoration: none;
  color: var(--color-text-primary);
}

.domain:hover {
  text-decoration: underline;
  color: var(--color-green)
}