.main {
  --profile-width: 496px;
  max-width: var(--profile-width);
  margin: 40px 0;
  padding: 0 0;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--color-slate-2);
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
  margin-bottom: 8px;
}

.address {
  font-family: var(--font-mono);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--text-primary);

  margin-bottom: 40px;
}

.header {
  color: var(--color-text-primary);
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  margin-bottom: 4px;
}

.subheader {
  color: var(--color-slate-2);
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  margin-bottom: 24px;
}

.link {
  color: var(--color-green);
  font: var(--type-reg);
  font-weight: 400;
  letter-spacing: var(--ls-reg);
  margin-bottom: 24px;
}

.link:hover {
  filter: brightness(0.95);
}

.primaryContainer {
  position: relative;
}

.primaryDomainList {
  display: none;
  position: absolute;
  width: var(--profile-width);
  max-height: 320px;
  overflow: scroll;

  margin-top: 4px;

  background-color: var(--color-background);
  border-radius: var(--radii-sm) var(--radii-sm);
  border: 1px solid var(--color-slate-5);
  box-shadow: var(--shadow-lg);
}

.primaryDomainListOpen {
  display: block;
}

.primaryDomainList>div:not(:last-child) {
  border-bottom: 1px solid var(--color-slate-5);
}

.primary {
  border-radius: var(--radii-sm);
  border: 1px solid var(--color-slate-5);
  padding: 8px 12px;
  box-shadow: var(--shadow-sm);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.primary:hover {
  cursor: pointer;
  background-color: var(--color-slate-7);
}

.primaryDomain {
  color: var(--color-slate-2);
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  font-weight: 400;
  color: var(--color-text-primary);
  flex-grow: 1;
  padding-left: 8px;
}

.primaryHint {
  color: var(--color-text-hint);
}

.primarySuccess {
  color: var(--color-background);
}

.primaryArrow {
  color: var(--color-slate-4);
  width: 20px;
  height: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-slate-5);
  margin: 40px 0 32px 0;
}