.main {
  --profile-width: 496px;
  max-width: var(--profile-width);
  margin: 40px 0;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
}

.loading {
  width: var(--profile-width);
}

.loader {
  display: block;
  margin: 120px auto;
}

.title {
  color: var(--color-slate-2);
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
  margin-bottom: 8px;
}

.address {
  font-family: var(--font-mono);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--text-primary);

  margin-bottom: 40px;
}

.header {
  color: var(--color-text-primary);
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  margin-bottom: 4px;
}

.subheader {
  color: var(--color-slate-2);
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  margin-bottom: 24px;
}

.link {
  color: var(--color-text-primary);
  font: var(--type-reg);
  font-weight: 400;
  letter-spacing: var(--ls-reg);
  margin-bottom: 24px;
}

.link:hover {
  filter: brightness(0.95);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-slate-5);
  margin: 40px 0 32px 0;
}