.main {
  max-width: 460px;
  margin: 0 auto;
  padding: 0px 0;
  display: flex;
  flex-direction: column;
}

.header {
  color: var(--color-text-primary);
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  font-weight: 500;

  margin-bottom: 4px;
}

.subheader {
  color: var(--color-slate-2);
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 400;
}

.address {
  font-family: var(--font-mono);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-primary);

  margin-top: 16px;
  margin-bottom: 8px;
}

.primary {
  border-radius: var(--radii-sm);
  border: 1px solid var(--color-slate-6);
  padding: 8px 12px;
  box-shadow: var(--shadow-sm);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.primary:hover {
  cursor: pointer;
  background-color: var(--color-slate-7);
}

.primaryDomain {
  color: var(--color-slate-2);
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  font-weight: 400;
  color: var(--color-text-primary);
  flex-grow: 1;
  padding-left: 8px;
}

.primarySuccess {
  color: var(--color-background);
}

.primaryArrow {
  color: var(--color-slate-5);
  width: 20px;
  height: 20px;
}

.domains {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.domains,
.form {
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-slate-6);
  margin: 48px 0;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  margin-top: 24px;
}

.avatarWrapper {
  align-self: flex-start;
  border-radius: var(--radii-round);
  height: 56px;
  width: 56px;
  background-color: var(--color-slate-6);
}

.avatar {
  border-radius: var(--radii-round);
  height: 56px;
  width: 56px;
}

.profileDomain {
  font: var(--type-reg);
  letter-spacing: var(--ls-reg);
  font-weight: 500;
}

.profileLabels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 4px;
}

.profileLabel {
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  color: var(--color-text-secondary);
  background-color: var(--color-slate-7);
  border-radius: var(--radii-lg);
  border: 1px solid var(--color-slate-6);
  padding: 2px 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.saveButton {
  width: 160px;
  margin: 8px 0 0 auto;
}

.txFee {
  width: 160px;
  margin: 0px 0 0 auto;

  color: var(--color-slate-4);
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 400;
  padding: 4px 1px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.txFeeLabel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.txFeeValue {
  flex-grow: 1;
  text-align: end;
}