.container {
  width: 100%;
}

.header {
  color: var(--color-slate-2);
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  margin-top: 40px;
}

.subheader {
  color: var(--color-slate-2);
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 64px;
}

.registerButton {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 40px;
}