.container {
  max-width: 600px;
  padding: 56px 24px 56px 24px;
  margin: 0 auto;
}

.title {
  font: var(--type-lg);
  letter-spacing: var(--ls-lg);
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.description {
  text-align: center;
  color: var(--color-slate-2);
  margin-bottom: 54px;
}

.sendTransaction {
  display: inline-block;
}

.transactionStatus {
  margin-top: 8px;

  color: var(--color-slate-4);
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 400;
  padding: 4px 1px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.txFeeLabel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.txFeeValue {
  flex-grow: 1;
  text-align: end;
}
