.container {
  --padding: 16px;
  max-width: calc(2 * var(--padding) + var(--container-width));
  padding: 0 var(--padding) 0 var(--padding);
  margin: 0 auto;
}

.withVerticalPadding {
  padding-top: 64px;
  padding-bottom: 128px;
}

.centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
