.links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-right: 32px;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
}

.navLink {
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  color: var(--color-text-primary);
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}

.navLink:hover {
  color: var(--color-text-secondary);
}

.navLinkActive {
  color: var(--color-slate-2);
}

.navLink.mobile {
  padding: 12px 18px 12px 12px;
}

.navLink.mobile:hover {
  cursor: pointer;
  background: rgba(92, 92, 92, 0.25);
  border-radius: var(--radii-sm);
  color: var(--color-slate-0);
}
