.nav {
  position: sticky;
  top: 0;

  height: var(--nav-height);
  width: 100%;
  z-index: 200;

  border-bottom: 1px solid var(--color-slate-6);
  background-color: rgb(var(--color-background-rgb) / 0.95);
  backdrop-filter: blur(3px);
}

.sub {
  position: relative;
  max-width: calc(var(--container-width) + 32px);
  height: 100%;

  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 2px 8px 2px 5px;
  margin-right: 32px;
  background-color: var(--color-highlight-green);
  border-radius: var(--radii-md);

  text-decoration: none;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  color: var(--color-slate-1);
}

.name {
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  font-weight: 500;
  color: var(--color-slate-0);
}

.links {
  flex-grow: 1;
}

.links.links_mobile {
  display: none;
}

@media (max-width: 768px) {
  .links.links_desktop {
    display: none;
  }

  .links.links_mobile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.buttonsLoading {
  opacity: 0.8;
  pointer-events: none;
}

.connect {
  border-radius: var(--radii-sm);
  white-space: nowrap;
}

.account {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  padding: 0 12px;
  border-radius: var(--radii-sm);
  border: 1px solid var(--color-slate-6);
  background-color: var(--color-slate-8);

  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  transition: var(--ease-200);
}

.account:hover {
  background-color: var(--color-slate-6);
  border: 1px solid var(--color-slate-5);
}

@media (max-width: 768px) {
  .account {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  .account:hover {
    border: none;
    background-color: transparent;
    filter: brightness(1.02);
  }
}

.mobileAccount {
  display: none;
}

@media (max-width: 768px) {
  .mobileAccount {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 18px 12px 12px;
  }
}

.delimiter {
  display: none;
}

@media (max-width: 768px) {
  .delimiter {
    width: 100%;
    height: 1px;
    background-color: var(--color-slate-6);
    display: block;
  }
}

.accountName {
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  color: var(--color-text-primary);
  /* override */
  font-size: 16px;
  font-weight: 500;
}

.accountNameAddress {
  font-family: var(--font-mono);
  letter-spacing: 0.01em;
}

.accountAvatar {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  overflow: hidden;
  background-color: var(--color-slate-6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.accountAvatar > svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .accountAvatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .accountAvatar > svg {
    width: 20px;
    height: 20px;
  }
}

.accountAvatarPlaceholder {
  background-color: transparent;
  border: 1px solid var(--color-slate-6);
}

.accountAvatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sep {
  color: var(--color-slate-5);
}

.chainWarning {
  padding: 0 8px 0 8px;
  border-radius: var(--radii-round);
  cursor: pointer;
  transition: var(--ease-200);
  background-color: var(--color-warning);
  color: var(--color-slate-1);
  border: none;
  font: var(--type-sm);
  height: 32px;
  letter-spacing: 0.01em;
  column-gap: 6px;

  white-space: nowrap;

  display: inline-flex;
  align-items: center;
}

.chainWarning > span {
  margin-right: 4px;
}

@media (max-width: 449px) {
  .chainWarning > span {
    /* hide warning (keep only icon visible) */
    display: none;
  }
}

.chainWarning:hover {
  background-color: var(--color-slate-1);
  color: var(--color-slate-8);
}

.chainIcon {
  width: 18px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .accountName {
    /* hide name on mobiles to save up some space */
    display: none;
  }

  .accountName.mobile {
    display: contents;
  }
}

.svgInButton {
  margin-top: 8px;
}

.buttons > .moreButton {
  display: none;
}

@media (max-width: 768px) {
  .buttons > .moreButton {
    display: inline-flex;
    padding: 0;
    width: 40px;
    /* AAAAAA */
    border-radius: 20px !important;
  }
}
