.container {
  height: 480px;
  overflow-y: auto;
  padding: 16px 24px;
  background: var(--color-slate-7);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  position: relative;
}

@media (max-height: 820px) {
  .container {
    height: 376px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    padding: 8px;
  }
}

/**
* rootMargin option in react-infinite-scroll-hook is currently broken, so here is a workaround
* to make it possible to trigger loading before reaching the end of scrollable area
*/
.sentry {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 160px;
  pointer-events: none;
}

.cell {
  background: var(--color-slate-6);
  border-radius: var(--radii-sm);
  transition: background 0.6s ease, box-shadow 0.2s ease;
  position: relative;
  overflow: hidden;

  aspect-ratio: 1 / 1; /* square, see polyfill below */
  border: 1px solid var(--color-slate-6); /* so that images with white background don't blend in */
}

@supports not (aspect-ratio: 1 / 1) {
  .cell {
    height: 160px;
  }
}

.cell.cell_loading {
  background: linear-gradient(
    115deg,
    var(--color-slate-6) 25%,
    var(--color-slate-7),
    var(--color-slate-6) 75%
  );
  background-size: 300% 100%;
  animation: gradient 1.5s ease-in-out reverse infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

.nftPreview {
  width: 100%;
  height: 100%;
  transition: transform 0.15s ease;
}

.nftPreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  opacity: 0;
  background-size: cover;
  cursor: pointer;
  border-radius: var(--radii-sm);
}

.nftPreviewImage_visible {
  opacity: 1;
}

.cell_selected {
  box-shadow: 0 0 0 4px var(--color-green-dark);
}

.nftPreview:hover:not(.nftPreview_selected) {
  transform: scale(1.03);
}

.nftPreview_selected {
  transform: scale(1.05);
}
