.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2001;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #000;
  opacity: 0.25;
  z-index: 2000;

  pointer-events: all;
}

.modal {
  width: 768px;
  max-height: min(80vh, 720px);

  background: var(--color-background);
  border: 0;
  border-radius: var(--radii-lg);
  box-shadow: var(--shadow-lg);
}

.titleAndText {
  flex: 1 1;
}

.header {
  padding: 32px 24px 24px 24px;
}

.body {
  padding: 0px 24px 24px 24px;
  flex-grow: 1;
  overflow: auto;
}

.title {
  color: var(--color-text-primary);
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  font-weight: 500;
  margin-bottom: 8px;
}

.nav {
  margin-bottom: 24px;
}

.text > b {
  font-weight: 500;
  text-decoration: underline;
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 12px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: var(--color-slate-8);
  border-top: 1px solid var(--color-slate-5);
  border-bottom-left-radius: var(--radii-lg);
  border-bottom-right-radius: var(--radii-lg);
}

.buttonSend {
  width: 172px;
}

/** Grid of NFT items */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

.cell {
  background: var(--color-slate-6);
  border-radius: var(--radii-sm);
  transition: background 0.6s ease, box-shadow 0.2s ease;
  position: relative;
  overflow: hidden;

  aspect-ratio: 1 / 1; /* square, see polyfill below */
}

@supports not (aspect-ratio: 1 / 1) {
  .cell {
    height: 160px;
  }
}

.cell.cellLoading {
  background: linear-gradient(
    115deg,
    var(--color-slate-6) 25%,
    var(--color-slate-7),
    var(--color-slate-6) 75%
  );
  background-size: 300% 100%;
  animation: gradient 1.5s ease-in-out reverse infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

/** NFT Preview */
.nftPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  opacity: 0;
  background-size: cover;
  cursor: pointer;

  border: 1px solid var(--color-slate-6); /* so that images with white background don't blend in */
  border-radius: var(--radii-sm);
}

.nftPreviewVisible {
  opacity: 1;
}

.nftPreviewSelected {
  box-shadow: inset 0 0 0 3px var(--color-green-dark), inset 0 0 0px 5px var(--color-slate-6),
    0px -1px 12px 0px rgb(var(--color-slate-1-rgb) / 0.1);
  border-color: var(--color-green-dark);
}
