.checkout {
  display: flex;
  justify-content: space-between;
  column-gap: 64px;
  min-height: calc(100vh - var(--nav-height));
}

.main {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 40px 0;
}

.right {
  background-color: var(--color-slate-7);
  border-left: 1.5px solid var(--color-slate-6);
  flex-shrink: 0;

  /* extends the right side to the end to of the viewport using negative margin */
  margin-right: calc(-0.5 * max(0px, 100vw - var(--container-width)));
  padding-right: calc(0.5 * max(0px, 100vw - var(--container-width)));
}

.progress {
  margin-bottom: 32px;
}

.back {
  cursor: pointer;
  transition: var(--ease-250);
  /* TODO: set right color in icon */
  filter: brightness(0.97);
}

.back:hover {
  color: var(--color-slate-1);
  filter: brightness(0.9);
}

.steps {
  margin: 0px 0px;
  font: var(--type-sm);
}

.buttons {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top: 1.5px solid var(--color-slate-6);
  margin-top: 60px;
  padding-top: 20px;
}

.buttonPrev {
}

.buttonSpace {
  flex-grow: 1;
}

.buttonNext {
  align-self: flex-end;
}
