.field > label {
  display: block;
  margin-bottom: 8px;
}

.field > input {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  background-color: var(--error);
  color: white;
  padding: 12px;
  border-radius: var(--radii-sm);
}
