/** Typography */
:root {
  --font-system: system-ui;

  /* font sizes: we use font scale with base 18px and 1.333 scale factor */
  --fs-regular: 18px;
  --fs-sm: 14.4px;
  --fs-md: 23.9px;
  --fs-lg: 32px;
  --fs-x-lg: 42.6px;
  --fs-xx-lg: 56.8px;

  --type-regular: 300 var(--fs-regular) / 1.444 var(--font-ui);
  --type-sm: 400 var(--fs-sm) / 1.444 var(--font-ui);
  --type-md: 300 var(--fs-md) / 1.5 var(--font-ui);
  --type-lg: 500 var(--fs-lg) / 1.5 var(--font-ui);
  --type-x-lg: 500 var(--fs-x-lg) / 1.1 var(--font-ui);
  --type-xx-lg: 500 var(--fs-xx-lg) / 1.1 var(--font-ui);

  /* 
    letter spacings
    (CSS doesn't allow setting letter-spacing via a `font` property,
    so these need to be set separately
  */
  --ls-sm: 0em;
  --ls-regular: -0.01em;
  --ls-md: -0.02em;
  --ls-lg: -0.03em;
  --ls-x-lg: -0.05em;
  --ls-xx-lg: -0.04em;
}

/** Colors */
:root {
  /* Reference colors: they always reference real colors */

  --color-black-rgb: 0 0 0;
  --color-gray-1-rgb: 26 26 26;
  --color-gray-2-rgb: 47 47 47;
  --color-gray-3-rgb: 106 106 106;
  --color-gray-4-rgb: 158 158 158;
  --color-gray-5-rgb: 216 216 216;
  --color-gray-6-rgb: 242 242 242;
  --color-gray-7-rgb: 250 250 250;
  --color-gray-8-rgb: 252 252 252;
  --color-white-rgb: 255 255 255;

  --color-black: rgb(var(--color-black-rgb) / 100%);
  --color-gray-1: rgb(var(--color-gray-1-rgb) / 100%);
  --color-gray-2: rgb(var(--color-gray-2-rgb) / 100%);
  --color-gray-3: rgb(var(--color-gray-3-rgb) / 100%);
  --color-gray-4: rgb(var(--color-gray-4-rgb) / 100%);
  --color-gray-5: rgb(var(--color-gray-5-rgb) / 100%);
  --color-gray-6: rgb(var(--color-gray-6-rgb) / 100%);
  --color-gray-7: rgb(var(--color-gray-7-rgb) / 100%);
  --color-gray-8: rgb(var(--color-gray-8-rgb) / 100%);
  --color-white: rgb(var(--color-white-rgb) / 100%);

  /* greens */
  --color-green-light-rgb: 126 255 0;
  --color-green-light: rgb(var(--color-green-light-rgb) / 100%);
  --color-green-rgb: 116 230 0;
  --color-green: rgb(var(--color-green-rgb) / 100%);

  /* reds TODO: more variations */
  --color-red-rgb: 237 2 0;
  --color-red: rgb(var(--color-red-rgb) / 100%);

  /* oranges TODO: more variations */
  --color-orange-rgb: 244 166 34;
  --color-orange: rgb(var(--color-orange-rgb) / 100%);

  /** System colors */

  /* slate colors */
  --color-slate-0: var(--color-black);
  --color-slate-1: var(--color-gray-1);
  --color-slate-2: var(--color-gray-2);
  --color-slate-3: var(--color-gray-3);
  --color-slate-4: var(--color-gray-4);
  --color-slate-5: var(--color-gray-5);
  --color-slate-6: var(--color-gray-6);
  --color-slate-7: var(--color-gray-7);
  --color-slate-8: var(--color-gray-8);
  --color-slate-f: var(--color-white);

  --color-slate-0-rgb: var(--color-black-rgb);
  --color-slate-1-rgb: var(--color-gray-1-rgb);
  --color-slate-2-rgb: var(--color-gray-2-rgb);
  --color-slate-3-rgb: var(--color-gray-3-rgb);
  --color-slate-4-rgb: var(--color-gray-4-rgb);
  --color-slate-5-rgb: var(--color-gray-5-rgb);
  --color-slate-6-rgb: var(--color-gray-6-rgb);
  --color-slate-7-rgb: var(--color-gray-7-rgb);
  --color-slate-8-rgb: var(--color-gray-8-rgb);
  --color-slate-f-rgb: var(--color-white-rgb);

  --color-background-rgb: var(--color-slate-f-rgb);
  --color-background: rgb(var(--color-background-rgb));
  --color-highlight-green: var(--color-green-light);

  /* Status colors */
  --color-error-light: rgb(255, 28, 26);
  /* TODO: move to resource colors! */
  --color-error-lighter: rgb(247, 212, 214);
  --color-error: var(--color-red);
  --color-warning: var(--color-orange);
  --color-success: var(--color-green);

  --color-text-primary: var(--color-slate-1);
  --color-text-secondary: var(--color-slate-3);
  --color-text-hint: var(--color-slate-4);
  /* placeholders, hints etc. */
  --color-text-muted: var(--color-slate-5);
  /* disabled labels */
}

/** Shadows */
:root {
  --shadow-color-rgb: 0 0 0;

  --shadow-sm: 1px 1px 0 rgb(var(--shadow-color-rgb) / 0.02);

  --shadow-reg: 0 1px 3px 0 rgb(var(--shadow-color-rgb) / 0.08),
    0 1px 2px -1px rgb(var(--shadow-color-rgb) / 0.08);

  --shadow-md: 0 4px 6px -1px rgb(var(--shadow-color-rgb) / 0.08),
    0 2px 4px -2px rgb(var(--shadow-color-rgb) / 0.08);

  --shadow-lg: 0 10px 15px -3px rgb(var(--shadow-color-rgb) / 0.08),
    0 4px 6px -4px rgb(var(--shadow-color-rgb) / 0.08);
}

/* Etc. */
:root {
  /* border radiuses */
  --radii-sm: 4px;
  --radii-md: 8px;
  --radii-lg: 12px;
  --radii-round: 999px;

  /* transition */
  --ease-300: 0.25s ease;
  --ease-250: 0.25s ease;
  --ease-200: 0.2s ease;

  /* toastify */
  --toastify-color-dark: var(--color-slate-7);
  --toastify-font-family: var(--font-ui);
  --toastify-icon-color-error: var(--color-error);

  /* sizes */
  --nav-height: 72px;
  --container-width: 1080px;

  --border-width-reg: 1px;
  --border-width-md: 1.5px;
  --border-width-lg: 2px;
}

html,
body {
  padding: 0;
  margin: 0;

  background: var(--color-background);
  color: var(--color-slate-0);
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
}

::selection {
  color: var(--color-gray-1);
  background-color: var(--color-highlight-green);
}

button,
body {
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
}

/* reset padding of headings */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/* box-sizing reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* reset default system input styles */
input {
  appearance: none;
  border: none;
  outline: none;
}

textarea {
  background-color: var(--color-slate-7);

  padding: 8px 16px;
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  color: var(--color-text-primary);
  caret-color: var(--color-text-primary);

  box-shadow: none;
  border-radius: var(--radii-sm);
  border: 1px solid var(--color-slate-6);

  appearance: none;
  outline: none;
}

textarea::placeholder {
  color: var(--color-slate-4);
  opacity: 1;
}

textarea:focus {
  border: 1px solid var(--color-green-light);
  outline: 4px solid rgb(var(--color-green-light-rgb) / 25%);
}
