:root {
  /* typography */
  --font-system: system-ui;

  /* font sizes: we use font scale with base 18px and 1.333 scale factor */
  --fs-regular: 18px;
  --fs-small: 14.4px;
  --fs-medium: 23.9px;
  --fs-large: 32px;
  --fs-x-large: 42.6px;
  --fs-xx-large: 56.8px;

  --type-regular: 300 var(--fs-regular) / 1.444 var(--font-ui);
  --type-medium: 300 var(--fs-medium) / 1.5 var(--font-ui);
  --type-large: 300 var(--fs-large) / 1.5 var(--font-ui);
  --type-x-large: 500 var(--fs-x-large) / 1.1 var(--font-ui);
  --type-xx-large: 600 var(--fs-xx-large) / 1.1 var(--font-ui);

  /* 
    letter spacings
    (CSS doesn't allow setting letter-spacing via a `font` property,
    so these need to be set separately
  */
  --ls-regular: -0.01em;
  --ls-medium: -0.02em;
  --ls-large: -0.03em;
  --ls-x-large: -0.04em;

  /* colors */
  --background: #141416;
  --background-3: #191a20;
  --background-card: #1b1d1f;
  --background-highlight: #273f5e;
  --text-primary: #fafafa;
  --text-secondary: #b8bac2;
  --text-highlight: #7db5ff;
  --primary: #2e87fb;
  --primary-hover: #4694fa;
  --border-1: #14171c;
  --border-2: #262626;
  --border-3: #4f4f4f;
  --border-card: rgba(255, 255, 255, 0.04);
  --green: #3dc676;
  --yellow: #f7d154;
  --error: #f74748;
  --shadow-card: rgba(46, 47, 54, 0.24);
  --twitter: #1da1f2;
  --discord: #5865f2;

  /* border radiuses */
  --radii-sm: 4px;
  --radii-md: 8px;

  --radii-small: 4px;
  --radii-medium: 8px;
  --radii-large: 16px;

  /* toastify */
  --toastify-color-dark: var(--background-card);
  --toastify-font-family: var(--font-ui);
  --toastify-icon-color-error: var(--error);

  --container-width: 1280px;
}

html,
body {
  padding: 0;
  margin: 0;

  background: var(--background);
  color: var(--text-primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button,
body {
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
}

/* reset padding of headings */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/* box-sizing reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* reset default system input styles */
input {
  appearance: none;
  border: none;
  outline: none;
}

input:focus {
  border-bottom: 2px solid var(--primary);
}
