:root {
  /* typography */
  --font-system: system-ui;

  /* font sizes: we use font scale with base 18px and 1.333 scale factor */
  --fs-regular: 18px;
  --fs-small: 14.4px;
  --fs-medium: 23.9px;
  --fs-large: 32px;
  --fs-x-large: 42.6px;
  --fs-xx-large: 56.8px;

  /* colors */
  --background: #141416;
  --background-3: #191a20;
  --background-card: #1b1d1f;
  --background-highlight: #273f5e;
  --text-primary: #fafafa;
  --text-secondary: #b8bac2;
  --text-highlight: #7db5ff;
  --primary: #2e87fb;
  --primary-hover: #4694fa;
  --border-1: #14171c;
  --border-2: #262626;
  --border-3: #4f4f4f;
  --border-card: rgba(255, 255, 255, 0.04);
  --green: #3dc676;
  --yellow: #f7d154;
  --error: #f74748;
  --shadow-card: rgba(46, 47, 54, 0.24);
  --twitter: #1da1f2;
  --discord: #5865f2;

  /* sizes */
  --radii-sm: 4px;
  --radii-md: 8px;

  /* toastify */
  --toastify-color-dark: var(--background-card);
  --toastify-font-family: var(--font-ui);
  --toastify-icon-color-error: var(--error);
}

html,
body {
  padding: 0;
  margin: 0;

  background: var(--background);
  color: var(--text-primary);
}

button,
input,
body {
  font-family: var(--font-ui);
  font-weight: 300;
}

input:focus {
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 115%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 28px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
