.nav {
  height: var(--nav-height);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 200;
  padding: 0px 32px;
  border-bottom: 1px solid var(--color-slate-6);
  box-shadow: 0 -3px 8px 0px rgba(0, 0, 0, 0.05);
  background-color: var(--background);
}

.sub {
  margin: 0 auto;
  max-width: var(--container-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.title {
  font-size: 24px;
  padding: 4px;
  font-weight: bold;
  color: #7db5ff;
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 16px;
  }
}

.space {
  flex-grow: 1;
}

.connect {
  border-radius: var(--radii-sm);
  background-color: var(--text-primary) !important;
  white-space: nowrap;
}

.connect:hover {
  background-color: var(--text-secondary) !important;
}

.accountIcon {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  overflow: hidden;
  background-color: var(--background);
  border: 1px solid var(--border-2);
}

.accountIconPlaceholder {
  border: 1px solid transparent;
  background-color: transparent;
}

.accountName,
.chains {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.chains,
.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
  border-radius: var(--radii-sm);
  cursor: pointer;
  transition: var(--ease-250);
}

.account {
  background-color: transparent;
  border: 1.5px solid var(--text-primary);
  color: var(--text-primary);
}

.chains {
  background-color: var(--color-slate-5);
  color: white;
  font-weight: 500;
  border: 1.5px solid transparent;
}

.chains:hover {
  background-color: var(--color-slate-4);
}

.links {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
