.container {
  --padding: 16px; /* TODO: this probably needs to be set somewhere globally */
  max-width: calc(2 * var(--padding) + var(--container-width));
  padding: 0 var(--padding) 0 var(--padding);
  margin: 0 auto;
}

.searchPage {
  min-height: calc(100vh - var(--nav-height));
}

.hero {
  max-width: calc(var(--container-width) / 2);
  padding: 96px 0 192px 0;
}

.heroSection {
  background: linear-gradient(rgba(0, 0, 0, 0), 80%, var(--color-slate-f)),
    top left / 32px 32px repeat url('./assets/grid-pattern.png');
}

.heroTitle {
  font: var(--type-x-lg);
  letter-spacing: var(--ls-x-lg);
  margin-bottom: 16px;
  color: var(--color-slate-0);
}

.heroSubtitle {
  font: var(--type-md);
  letter-spacing: var(--type-md);
}

.searchSection {
  position: relative;
  margin-top: -128px;
  margin-bottom: 64px;
}

.suggestionsSection {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--color-slate-5);
  margin-bottom: 96px;
}

.pricingSection {
  margin-bottom: 96px;
}

/**
 * Suggestions
 */

.suggestions {
  display: flex;
  margin-top: 8px;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  max-width: 75%;
}

.suggestionsSection > p {
  font: var(--type-regular);
  margin-top: 72px;
  color: var(--color-slate-4);
}

.suggestion {
  padding: 8px 16px;
  border: 1px solid var(--color-slate-3);
  border-radius: var(--radii-sm);
  font: var(--type-regular);

  user-select: none;
  cursor: pointer;
  transition: background var(--ease-250);
}

.suggestion:hover {
  background-color: var(--color-slate-1);
  border-color: transparent;
  color: var(--color-slate-7);
}

.suggestion > span {
  color: var(--color-slate-4);
  font: var(--type-sm);
  margin-left: 8px;
}
