.button {
  height: 40px;
  width: auto;
  padding: 0px 16px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  /* TODO: Temporary disabled to make LoadingButton work */
  /* Also, wishing to have transition for specific props only */
  /* transition: var(--ease-250); */
  border-radius: var(--radii-sm);
  border: none;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
  background-color: var(--text-primary);
}

.button:hover {
  cursor: pointer;
  background-color: var(--text-secondary);
}

.buttonSmall {
  height: 32px;
  padding: 0px 20px;
  font-size: 14px;
}

.buttonSecondary {
  border-radius: var(--radii-sm);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  color: var(--primary);
  background: transparent;
  box-shadow: none;
  border-style: solid;
  border-color: var(--background-highlight);
}

.buttonSecondary:focus {
  outline: 0;
  background: var(--background-highlight);
}

.buttonSecondary:hover {
  cursor: pointer;
  background: var(--background-highlight);
}

.modal {
  min-width: 180px;
  position: absolute;
  top: 64px;
  right: 18px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;

  padding: 8px;
  border-radius: var(--radii-md);
  background-color: var(--background-card);
  border: 1px solid var(--border-card);

  transition: 100ms;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  padding: 12px 18px 12px 12px;
}

.menu:hover {
  cursor: pointer;
  background: rgba(92, 92, 92, 0.25);
  border-radius: var(--radii-sm);
}

.menuIcon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuText {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.card {
  background-color: var(--background-card);
  border: 1px solid var(--border-card);
  border-radius: var(--radii-md);
}

.link {
  text-decoration: none;
  color: inherit;
  transition: var(--ease-250);
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary);
}

.input {
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  font-weight: 400;
  padding: 6px 12px;
  color: var(--text-primary);
  border-radius: var(--radii-sm);
  outline: 1.25px solid var(--color-slate-5);
  box-sizing: border-box;
  caret-color: var(--text-primary);
}

.input::placeholder {
  color: var(--text-hint);
  opacity: 1;
}

.input:focus {
  outline: 1.5px solid var(--color-slate-2);
  border: none;
  /* TODO: fix small unknown inner border */
}

.error {
  background-color: var(--error);
  color: white;
  padding: 12px;
  border-radius: var(--radii-sm);
}