.container {
  width: 100%;
  padding: 24px 0 64px 0;
}

.formGroup {
  margin-bottom: 64px;
}

.header {
  color: var(--color-text);
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  margin-bottom: 4px;
}

.subheader {
  color: var(--color-text-secondary);
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  margin-bottom: 24px;
}

.years {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.yearButton {
  width: 104px;
  padding: 6px 0px;

  color: var(--color-slate-1);
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  text-align: center;
  user-select: none;
  transition: var(--ease-250);

  border-radius: var(--radii-sm);
  border: var(--border-width-md) solid var(--color-slate-1);
  cursor: pointer;
}

.yearButton:hover {
  color: var(--color-slate-3);
  border-color: var(--color-slate-3);
}

.yearButtonSelected {
  background-color: var(--color-slate-1);
  color: var(--color-slate-f);
}

.yearButtonSelected:hover {
  color: var(--color-slate-f);
  border: 1.5px solid var(--color-slate-1);
}

.ownerInput {
  font-family: var(--font-mono);
  font-size: 16px;
  font-weight: 500;
}

/* TODO: move to a Input component */
.inputContainer {
  height: 38px;
}

.inputContainer > input {
  height: 100%;
  width: 100%;
  padding-left: 50px;
}

.inputIcon {
  position: absolute;
  width: 38px;
  height: 38px;
  padding: 8px;

  color: var(--color-slate-f);
  background-color: var(--color-slate-5);
  border-radius: var(--radii-sm) 0 0 var(--radii-sm);
}

.inputError {
  color: var(--error);
  font: var(--type-sm);
  font-weight: 500;
  letter-spacing: var(--ls-sm);
  padding-top: 4px;
}

.profileInput {
  width: 100%;
  margin-bottom: 16px;
}

.profileInputLast {
  margin-bottom: 0px;
}

.buttonContainer {
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  margin-top: 40px;
}

.txFee {
  color: var(--color-slate-4);
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 400;
  padding: 4px 1px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.txFeeLabel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.txFeeValue {
  flex-grow: 1;
  text-align: end;
}

/* TODO: remove temp error solution */
.error {
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: 0px;

  color: var(--color-error);
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 400;

  border-radius: 4px;
  padding: 4px 12px;
}
