.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.header {
  color: var(--color-slate-2);
  font: var(--type-md);
  letter-spacing: var(--ls-md);
  margin-top: 35px;
}

.subheader {
  color: var(--color-slate-2);
  font: var(--type-sm);
  letter-spacing: var(--ls-sm);
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}

.duration {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.durationButton {
  width: 104px;
  padding: 6px 0px;

  color: var(--color-slate-1);
  font: var(--type-regular);
  letter-spacing: var(--ls-regular);
  font-weight: 400;
  text-align: center;

  border-radius: 6px;
  border: 1.5px solid var(--color-slate-1);
}

.durationButton:hover {
  cursor: pointer;
  color: var(--color-slate-3);
  border: 1.5px solid var(--color-slate-3);
}

.durationButtonSelected {
  background-color: var(--color-slate-1);
  color: var(--color-slate-f);
}

.durationButtonSelected:hover {
  color: var(--color-slate-f);
  border: 1.5px solid var(--color-slate-1);
}

.owner {
  width: 460px;
  /* TODO: use global style */
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
}

.profileInput {
  margin-bottom: 10px;
  width: 460px;
}